# Переменные для сервиса observer
REDIS_URL=redis://redis:6379/0
# Лимит ип адресов у юзера, например когда значение станет больше 12-ти, все замеченные ип адреса будут заблокированы
MAX_IPS_PER_USER=12
# Время жизни ип адреса у юзера (в секундах, по умолчанию 1 час)
USER_IP_TTL_SECONDS=86400
# Кулдан уведомления (например по вебхуку в тг), время в секундах
ALERT_COOLDOWN_SECONDS=30
# Задержка в секундах перед очисткой IP-адресов пользователя после блокировки
CLEAR_IPS_DELAY_SECONDS=30

# Укажите реальный URL вебхука вашего ТГ-бота
ALERT_WEBHOOK_URL=https://<IP_ВАШЕГО_БОТА>:<ПОРТ>/webhook/alert
# Через запятую, без пробелов
EXCLUDED_USERS=
# IP-адреса, которые никогда не будут заблокированы, перечисляются через запятую (тут указываем адрес нод), записывать желательно без пробелов
EXCLUDED_IPS=8.8.8.8,1.1.1.1,192.168.1.1

RABBIT_USER=
RABBIT_PASSWD=
RABBITMQ_URL=
#EXAMPLE RABBITMQ_URL=amqp://user:password@rabbitmq:5672/
